PORT=4100
HOST=0.0.0.0
APP_BASE_URL=http://192.168.8.142:4100
MOBILE_DEEP_LINK=allio://connect

# Register Allio with each carrier before enabling real OAuth.
UPS_CLIENT_ID=
UPS_CLIENT_SECRET=
UPS_AUTH_URL=https://wwwcie.ups.com/security/v1/oauth/authorize
UPS_TOKEN_URL=https://wwwcie.ups.com/security/v1/oauth/token

FEDEX_CLIENT_ID=
FEDEX_CLIENT_SECRET=
FEDEX_AUTH_URL=https://apis-sandbox.fedex.com/oauth/authorize
FEDEX_TOKEN_URL=https://apis-sandbox.fedex.com/oauth/token

USPS_CLIENT_ID=
USPS_CLIENT_SECRET=
USPS_AUTH_URL=https://apis-tem.usps.com/oauth2/v3/authorize
USPS_TOKEN_URL=https://apis-tem.usps.com/oauth2/v3/token

DHL_CLIENT_ID=
DHL_CLIENT_SECRET=
DHL_AUTH_URL=
DHL_TOKEN_URL=

GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_AUTH_URL=https://accounts.google.com/o/oauth2/v2/auth
GMAIL_TOKEN_URL=https://oauth2.googleapis.com/token

OUTLOOK_CLIENT_ID=
OUTLOOK_CLIENT_SECRET=
OUTLOOK_AUTH_URL=https://login.microsoftonline.com/common/oauth2/v2.0/authorize
OUTLOOK_TOKEN_URL=https://login.microsoftonline.com/common/oauth2/v2.0/token
